/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e8f7fa, #d8effc);
    color: #2C3E50;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #2595bd, #3e659b);
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header h1 span {
    color: #ffffff;
}

header nav button {
    background: #2596be;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 26px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px; /* Adds space under the buttons */
}

header nav button:hover {
    background: #3db17d;
}

/* Main Form */
main {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Form Fields */
fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}

legend {
    font-size: 1.3em;
    font-weight: bold;
    color: #3db17d;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.column {
    width: 48%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2C3E50;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #B0BEC5;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #3db17d;
    outline: none;
}

input[type="checkbox"] {
    width: auto;
}

/* Submit Button */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3db17d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #3db17d, #2596be);
}
header nav a {
    text-decoration: none; /* Removes underline */
}
header h1 img.logo {
    height:90px; /* Adjust the height of the logo as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Add spacing if needed */
}